* {
	margin: 0;
}

:root {
	/* --main: #202c39; */
	--main: #03071e;
	--content: #fffdf7;
	--title: #08021b;
	--text: #000;
	--orange: #f29559;
	--dark-orange: #ee6f1b;
}

@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Roboto+Slab&display=swap");

body {
	/* background-color: var(--main); */
	background-image: url("../img/fundo-dark.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	color: #fff;
}

/* Teste................................................................ */
.hero {
	display: flex;
	height: 500px;
}
/* .hero p {
	margin: auto;
	font-size: 35px;
	white-space: nowrap;
	overflow: hidden;
	font-family: "Special Elite", cursive, monospace;
} */

.hero .typing-animation {
	display: flex;
	align-items: center;
	/* justify-content: center; */
	margin: 0 auto;
	font-size: 35px;
	/* white-space: nowrap; */
	/* overflow: hidden; */
	font-family: "Special Elite", cursive, monospace;
}

.hero span {
	display: flex;
	justify-content: center;
	align-items: center;
	/* float: left; */
	/* position: fixed; */
	padding: 15px;

	/* margin: 0 auto; */
	/* position: fixed; */
	/* padding: 50px; */

	/* display: flex; */
	/* justify-content: flex-start; */
	/* align-items: center; */
	/* margin: 0 250px; */
}

a {
	text-decoration: none;
	list-style: none;
	color: #fff;
}

/* 
.typing-animation {
	animation: blinkCursor 700ms steps(60) infinite normal,
		typing 4s steps(40) 1s normal both;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 11em;
	}
}

@keyframes blinkCursor {
	from {
		border-right: 1px solid rgba(255, 255, 255, 0.75);
	}
	to {
		border-right-color: transparent;
	}
} */

/* Fim TEste ******************************** */

.menu ul {
	display: flex;
	justify-content: flex-end;
	background: rgba(0, 0, 0, 0.5);
}

.menu li {
	list-style: none;
	/* flex-direction: column; */
	/* justify-content: flex-end; */
	/* align-items: center; */
	font-size: 20px;
	/* padding: 20px 30px; */
	padding: 40px 30px;
}

.menu li a {
	color: #fff;
	text-decoration: none;
}

.menu li a:hover {
	border-bottom: 1px solid var(--orange);
	padding-bottom: 12px;
}

.menu .contact {
	border: 1px solid #f3f3f3;
	/* border-radius: 75%; */
	border-radius: 350px;
	padding: 12px 12px;
	/* padding: 10px; */
}

.menu .contact:hover {
	border: 1px solid var(--orange);
}

.title {
	/* padding-top: 20px; */
	font-size: 39px;
	color: var(--title);
	padding-top: 50px;
	font-family: "Open Sans Condensed", sans-serif;
}

.container {
	margin: 0 auto;
	/* width: 100%; */
	width: 960px;
}

main {
	/* height: 100%; */
}

.skills {
	height: 500px;
	background-color: var(--content);
}

.skills ul li span {
	color: var(--text);
}

.list-skills {
	display: flex;
	margin-top: 100px;
	justify-content: center;
}

.list-skills li {
	padding: 10px 35px;
}

.list-skills i {
	font-size: 40px;
	color: #000;
	padding: 0 10px;
}

.fa-facebook-square:hover{
	color: #3B5998;
}

.fa-linkedin:hover{
	color: #0e76a8;
}

.fa-at:hover{
	color: #007fff;
}

/*  Projects */
.projects {
	height: 500px;
	background-color: #f2f2f2;
}

.projects-cards {
	display: flex;
	padding: 15px 0px;
}

.project-img {
	/* width: 300px; */
	background-image: cover;
	width: 100%;
	height: 230px;
	border-radius: 5% 5% 0 0;
}

.project-card {
	width: 250px;
	/* padding: 10px; */
	/* padding-left: 25px; */
	border: 8px solid gray;
	border-radius: 10%;
	margin-right: 50px;
	height: 290px;
}

.project-card-description {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.project-card-description p {
	margin-top: 15px;
	color: #000;
	font-weight: 700;
	font-family: "Roboto Slab", serif;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px;
	background-color: #000;
	font-family: "Open Sans Condensed", sans-serif;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  background: transparent;
}

.icon-up{
	color: var(--orange);
	font-size: 3.2rem;
	text-shadow: #000;
}

#myBtn:hover {
  /* background-color: #555; Add a dark-grey background on hover */
}

.slide-top {
	-webkit-animation: slide-top 1.9s steps(2, end) infinite both;
	        animation: slide-top 1.9s steps(2, end) infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-3-17 19:59:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}
