* {
	margin: 0;
}

:root {
	/* --main: #202c39; */
	--background: #2D2D2D;
	--main: #03071e;
	--content: #f8f8f8;
	--title: #08021b;
	--text: #000;
	--orange: #f29559;
	--dark-orange: #ee6f1b;
}

@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Roboto+Slab&display=swap");

body {	
	color: #fff;
}

/* Teste................................................................ */
.hero {
	display: flex;
	height: 450px;

	background-color: var(--background);
	background-image: url("../img/firewatch.jpg");	
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
/* .hero p {
	margin: auto;
	font-size: 35px;
	white-space: nowrap;
	overflow: hidden;
	font-family: "Special Elite", cursive, monospace;
} */

.hero .typing-animation {
	display: flex;
	align-items: center;
	/* justify-content: center; */
	margin: 0 auto;
	font-size: 35px;
	/* white-space: nowrap; */
	/* overflow: hidden; */
	font-family: "Special Elite", cursive, monospace;
}

.hero span {
	display: flex;
	justify-content: center;
	align-items: center;
	/* float: left; */
	/* position: fixed; */
	padding: 15px;

	/* margin: 0 auto; */
	/* position: fixed; */
	/* padding: 50px; */

	/* display: flex; */
	/* justify-content: flex-start; */
	/* align-items: center; */
	/* margin: 0 250px; */
}

a {
	text-decoration: none;
	list-style: none;
	color: #fff;
}

/* 
.typing-animation {
	animation: blinkCursor 700ms steps(60) infinite normal,
		typing 4s steps(40) 1s normal both;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 11em;
	}
}

@keyframes blinkCursor {
	from {
		border-right: 1px solid rgba(255, 255, 255, 0.75);
	}
	to {
		border-right-color: transparent;
	}
} */

/* Fim TEste ******************************** */
.menu {
	position: sticky;
	top: 0;
	z-index: 1;

	background: rgba(0, 0, 0, 0.9);	
}

.menu ul {
	display: flex;
	justify-content: flex-end;
	
}

.menu li {
	list-style: none;
	/* flex-direction: column; */
	/* justify-content: flex-end; */
	/* align-items: center; */
	font-size: 20px;
	/* padding: 20px 30px; */
	padding: 40px 30px;
}

.menu li a {
	color: #fff;
	text-decoration: none;
}

.menu li a:hover {
	border-bottom: 1px solid var(--orange);
	padding-bottom: 12px;
}

.menu .contact {
	border: 1px solid #f3f3f3;
	/* border-radius: 75%; */
	border-radius: 350px;
	padding: 12px 12px;
	/* padding: 10px; */
}

.menu .contact:hover {
	border: 1px solid var(--orange);
}

.scrolled{
	background-color:rgba(0, 0, 0);
}

.title {
	/* padding-top: 20px; */
	font-size: 39px;
	color: var(--title);
	padding-top: 50px;
	font-family: "Open Sans Condensed", sans-serif;
}

.container {
	margin: 0 auto;
	/* width: 100%; */
	width: 960px;
	/* display: flex;
	flex-wrap: wrap; */
}

.skills {
	height: 500px;
	

	display: flex;
	flex-wrap: wrap;

	background-color: var(--content);
}

.skills ul li span {
	color: var(--text);
}

.list-skills {
	display: flex;
	justify-content: center;	
	flex-wrap: wrap;

	margin-top: 100px;
	
}

.list-skills li {
	list-style-type: none;
	padding: 10px 35px;
	width: 6rem;
}

.list-skills i {
	font-size: 40px;
	color: #000;
	padding: 0 10px;
}

.fa-facebook-square:hover{
	color: #3B5998;
}

.fa-linkedin:hover{
	color: #0e76a8;
}

.fa-at:hover{
	color: #007fff;
}

/*  Projects */
.projects {	
	background-color: #f2f2f2;

	display: flex;
	flex-wrap: wrap;	
}

.projects-cards {
	display: flex;
	flex-wrap: wrap;

	height: 100%;
	padding: 15px 0px;
	/* width: 60rem; */
	width: 60%;

	margin: 0 auto;
}

.project-img {
	/* width: 300px; */
	background-image: cover;

	width: 100%;
	height: 230px;
	border-radius: 5% 5% 0 0;
	box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.2);
	position: relative;
	/* z-index: 0; */
				
}

/* TODO: Remover esse código e incluir o icône com a ação de ir direto para o github  */
.project-card::before{
position: absolute;
   
   content: "\f09b";
   font: normal normal normal 2.4rem/1 FontAwesome;
    color: #000;
    
	left: 79%;
	top: 2px;    
    /* background: green; */
    z-index: 1;
}

.project-card {
	position: relative;
	
	width: 15rem;
	height: 20rem;
	
	border: 8px solid gray;
	border-radius: 10%;
	margin-right: 50px;
	margin-bottom: 2rem;
}

.project-card-description {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.project-card-description p {
	margin-top: 15px;
	color: #000;
	font-weight: 700;
	font-family: "Roboto Slab", serif;
}

footer {
	display: flex;	
	justify-content: center;

	padding: 130px;
	background-color: #000;
	font-family: "Open Sans Condensed", sans-serif;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  background: transparent;
}

.icon-up{
	color: var(--orange);
	font-size: 3.2rem;
	text-shadow: #000;
}

.slide-top {
	-webkit-animation: slide-top 1.9s steps(2, end) infinite both;
	        animation: slide-top 1.9s steps(2, end) infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-3-17 19:59:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}
